<!DOCTYPE html>
<html lang="pt-br">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="Responsive Bootstrap4 Shop Template, Criado por Team Senac First Craker's">

	<!-- title -->
	<title>Sobre</title>

	<!-- favicon -->
	<link rel="shortcut icon" type="image/png" href="assets/img/favicon.ico">
	<!-- google font -->
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Poppins:400,700&display=swap" rel="stylesheet">
	<!-- fontawesome -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
		integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg=="
		crossorigin="anonymous" referrerpolicy="no-referrer" />
	<link rel="stylesheet" href="./assets/css/all.min.css">
	<!-- bootstrap -->
	<link rel="stylesheet" href="./assets/bootstrap/css/bootstrap.min.css">
	<!-- owl carousel -->
	<link rel="stylesheet" href="./assets/css/owl.carousel.css">
	<!-- magnific popup -->
	<link rel="stylesheet" href="./assets/css/magnific-popup.css">
	<!-- animate css -->
	<link rel="stylesheet" href="./assets/css/animate.css">
	<!-- mean menu css -->
	<link rel="stylesheet" href="./assets/css/meanmenu.min.css">
	<!-- main style -->
	<link rel="stylesheet" href="./assets/css/main.css">
	<!-- responsive -->
	<link rel="stylesheet" href="./assets/css/responsive.css">

</head>

<body>

	<!--PreLoader-->
	<div class="loader">
		<div class="loader-inner">
			<div class="circle"></div>
		</div>
	</div>
	<!--PreLoader Ends-->

	<!-- header -->
	<div class="top-header-area" id="sticker">
		<div class="container">
			<div class="row">
				<div class="col-lg-12 col-sm-12 text-center">
					<div class="main-menu-wrap">
						<!-- logo -->
						<div class="site-logo">
							<a href="index.html">
								<img src="assets/img/logo.png" alt="">
							</a>
						</div>
						<!-- logo -->

						<!-- menu start -->
						<nav class="main-menu">
							<ul>
								<li class="current-list-item"><a href="index.html">Início</a>
								</li>
								<li><a href="about.html">Sobre</a></li>
								<ul class="sub-menu">
									<li><a href="404.html">404 página</a></li>
									<li><a href="about.html">Sobre</a></li>
									<li><a href="cart.html">Carrinho</a></li>
									<li><a href="checkout.html">Confirmar</a></li>
									<li><a href="news.html">Novidades</a></li>
									<li><a href="shop.html">Loja</a></li>
									<li><a href="contact.html">Contato</a></li>
								</ul>
								</li>
								<li><a href="news.html">Novidades</a>
									<ul class="sub-menu">
										<li><a href="news.html">Novidades</a></li>
										<li><a href="single-news.html">Últimas Notícias</a></li>
									</ul>
								</li>
								<li><a href="contact.html">Contato</a></li>
								<li><a href="shop.html">Loja</a>
									<ul class="sub-menu">
										<li><a href="shop.html">Loja</a></li>
										<li><a href="checkout.html">Confirmar</a></li>
										<li><a href="single-product.html">Produto Especial</a></li>
										<li><a href="cart.html">Carrinho</a></li>
									</ul>
								</li>
								<li>
									<div class="header-icons">
										<a class="shopping-cart" href="cart.html"><i
												class="fas fa-shopping-cart"></i></a>
										<a class="mobile-hide search-bar-icon" href="#"><i
												class="fas fa-search"></i></a>
									</div>
								</li>
							</ul>
						</nav>
						<a class="mobile-show search-bar-icon" href="#"><i class="fas fa-search"></i></a>
						<div class="mobile-menu"></div>
						<!-- menu end -->
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end header -->

	<!-- search area -->
	<div class="search-area">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<span class="close-btn"><i class="fas fa-window-close"></i></span>
					<div class="search-bar">
						<div class="search-bar-tablecell">
							<h3>Pesquisar Por:</h3>
							<input type="text" placeholder="Keywords">
							<button type="submit">Pesquisar <i class="fas fa-search"></i></button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end search arewa -->

	<!-- breadcrumb-section -->
	<div class="breadcrumb-section breadcrumb-bg">
		<div class="container">
			<div class="row">
				<div class="col-lg-8 offset-lg-2 text-center">
					<div class="breadcrumb-text">
						<p>Vendemos tudo para Skatistas </p>
						<h1>Sobre Nós</h1>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end breadcrumb section -->

	<!-- featured section -->
	<div class="feature-bg">
		<div class="container">
			<div class="row">
				<div class="col-lg-7">
					<div class="featured-text">
						<h2 class="pb-3">Por quê <span class="orange-text">Skate's Cracker Club?</span></h2>
						<div class="row">
							<div class="col-lg-6 col-md-6 mb-4 mb-md-5">
								<div class="list-box d-flex">
									<div class="list-icon">
										<i class="fas fa-shipping-fast"></i>
									</div>
									<div class="content">
										<h3>Entrega a Domicílio</h3>
										<p>sit voluptatem accusantium dolore mque laudantium, totam rem aperiam, eaque
											ipsa quae ab illo.</p>
									</div>
								</div>
							</div>
							<div class="col-lg-6 col-md-6 mb-5 mb-md-5">
								<div class="list-box d-flex">
									<div class="list-icon">
										<i class="fas fa-money-bill-alt"></i>
									</div>
									<div class="content">
										<h3>Melhor Preço</h3>
										<p>sit voluptatem accusantium dolore mque laudantium, totam rem aperiam, eaque
											ipsa quae ab illo.</p>
									</div>
								</div>
							</div>
							<div class="col-lg-6 col-md-6 mb-5 mb-md-5">
								<div class="list-box d-flex">
									<div class="list-icon">
										<i class="fas fa-briefcase"></i>
									</div>
									<div class="content">
										<h3>Caixa Personalizada</h3>
										<p>sit voluptatem accusantium dolore mque laudantium, totam rem aperiam, eaque
											ipsa quae ab illo.</p>
									</div>
								</div>
							</div>
							<div class="col-lg-6 col-md-6">
								<div class="list-box d-flex">
									<div class="list-icon">
										<i class="fas fa-sync-alt"></i>
									</div>
									<div class="content">
										<h3>Reembolso Rápido</h3>
										<p>sit voluptatem accusantium dolore mque laudantium, totam rem aperiam, eaque
											ipsa quae ab illo.</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end featured section -->
	<!--start circle-->
	<section>

		<div class="quad quad1">
			<img src="./assets/img/circle1.jpg">
		</div>
		<div class="quad quad2">
			<img src="./assets/img/loja4.jpg">
		</div>
		<div class="wrap">
			<h2><span>Um pouco mais sobre</span> o Skate's Cracker Club</h2>
			<p>A Thrasher foi fundada em 1981, em SF na California. É a mais tradicional revista de Skate do mundo.
				Manteve sua reputação como a representação pura do estilo de vida que a cerca. O conteúdo gerado por
				essa mídia e os produtos produzidos com seus logos carregam uma história e simbolismo muito forte de
				nossas raizes.

				Embora a revista tenha sido originalmente criada como uma plataforma para Swenson e Vitello promoverem
				sua marca de skate, a Independent Trucks, a Thrasher, desde então, transcendeu o seu propósito original
				de se tornar a revista de skate mais influente do mundo. A Thrasher tem um estilo de escrita que é
				literalmente copiado por escritores e editores em todo o mundo e também existe um estilo Thrasher de
				skate, embora não exista um manual definitivo.

				Sob o lendário editor-chefe Jake Phelps, a revista ganhou o apelido de “A Bíblia” entre os skatistas,
				referindo-se ao seu papel dentro da comunidade - suas páginas sagradas são onde os skatistas são
				transformados em lendas ou satirizados na obscuridade. Toda boa revista tem sua edição que não pode ser
				perdida. A edição anual de "Skater of the Year" de Thrasher é aguardada todos os anos por skatistas ao
				redor do mundo: a revista celebra o skatista que encarnou de forma mais precisa o seu mantra "Skate and
				Destroy" nos últimos 12 meses.

				Hoje sob a mesma marca da revista com seu icônico lettering, a Thrasher faz roupas e acessórios como
				moletons, camisetas, bonés e meias além de ter vários modelos de tênis e shapes em parcerias com outras
				marcas.
				Um dos maiores diferenciais da Thrasher foi expandir além do formato tradicional das revistas focadas em
				reportagem. De campeonatos a lançamento de discos musicais, passando por video-games, a Thrasher sempre
				foi envolvida em tudo que possa ter a ver com skate. Em 1990 a revista começou a tradição de eleger os
				melhores skatistas daquele ano, que apareceria num anuário e receberia um prêmio. O título de Skatista
				do Ano da Thrasher logo tornou-se um dos prêmios de maior prestígio do esporte. Apesar da votação ser
				aberta ao público, a palavra final de quem fica com o título é sempre de Phelps. O primeiro skatista a
				ser eleito pela Revista Thrasher foi Tony Hawk no ano de estreia do prêmio. Desde de então, o prêmio é
				realizado todos os anos. O skatista Kyle Walker foi o vencedor em 2016. Até único brasileiro a
				conquistar o título foi Bob Burnquist em 1997, apesar de Pedro Barros e Thiago Lemos terem ficado entre
				os finalistas no ano passado.

				Muito conhecida como a bíblia do skate, a Thrasher foi fundada por Eric Swenson e Fausto Vitello em
				1981, um sentimento de oposição ao status quo - dentro da indústria do skate e fora dela. Por isso tem
				sido chocante para skatistas ver a marca da revista sendo usada por modelos e celebridades de outras
				áreas nos anos recentes.

				Poucas publicações no mundo têm a importância que revista Thrasher tem. Durante anos a revista foi vista
				como uma verdadeira bíblia do esporte para os skatistas. Com mais de 250 mil leitores mensais, ela é a
				mais antiga e emblemática revista de skate do mundo. O logotipo da Thrasher é um dos símbolos mais
				reconhecidos fora do universo do skate, uma revista que se tornou um símbolo!</p>
		</div>

	</section>
	<!---Fim section texto circulo-->

	<!-- shop banner -->
	<section class="shop-banner">
		<div class="container">
			<h3>Promoção de Maio! <br> com grande <span class="orange-text">Descontos...</span></h3>
			<div class="sale-percent"><span>Oferta! <br> até</span>50% <span>off</span></div>
			<a href="shop.html" class="cart-btn btn-lg">Compre Agora</a>
		</div>
	</section>
	<!-- end shop banner -->

	<!-- team section -->
	<div class="mt-150">
		<div class="container">
			<div class="row">
				<div class="col-lg-8 offset-lg-2 text-center">
					<div class="section-title">
						<h3>Nossa <span class="orange-text">Equipe</span></h3>
						<p>Team Skate Cracker's Club Senac-RJ.</p>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-4 col-md-6">
					<div class="single-team-item">
						<div class="team-bg team-bg-1"></div>
						<h4>Cristian Mitidieri <span>Programador</span></h4>
						<ul class="social-link-team">
							<li><a href="#" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
							<li><a href="#" target="_blank"><i class="fab fa-twitter"></i></a></li>
							<li><a href="#" target="_blank"><i class="fab fa-instagram"></i></a></li>
						</ul>
					</div>
				</div>
				<div class="col-lg-4 col-md-6">
					<div class="single-team-item">
						<div class="team-bg team-bg-2"></div>
						<h4>Marry Doe <span>Farmer</span></h4>
						<ul class="social-link-team">
							<li><a href="#" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
							<li><a href="#" target="_blank"><i class="fab fa-twitter"></i></a></li>
							<li><a href="#" target="_blank"><i class="fab fa-instagram"></i></a></li>
						</ul>
					</div>
				</div>
				<div class="col-lg-4 col-md-6 offset-md-3 offset-lg-0">
					<div class="single-team-item">
						<div class="team-bg team-bg-3"></div>
						<h4>Simon Joe <span>Farmer</span></h4>
						<ul class="social-link-team">
							<li><a href="#" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
							<li><a href="#" target="_blank"><i class="fab fa-twitter"></i></a></li>
							<li><a href="#" target="_blank"><i class="fab fa-instagram"></i></a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!--start cartão-->
	<section class="cartao">
		<div class="container" id="foto">
			<div class="card1">
				<div class="toggle"></div>
				<div class="contentBx1">
					<div class="imgBx3">
						<img src="assets/img/cristian.jpg">
					</div>
					<div class="contentBx">
						<h3>Cristian Mitidieri<br /><span>Web Designer</span></h3>
					</div>
				</div>

				<ul class="sci">
					<li style="--i:1"><a href="#"><i class="fa-brands fa-facebook-square"></i></a></li>
					<li style="--i:2"><a href="#"><i class="fa-brands fa-github-square"></i></a></li>
					<li style="--i:3"><a href="#"><i class="fa-brands fa-whatsapp-square"></i></a></li>
					<li style="--i:4"><a href="#"><i class="fa-brands fa-instagram-square"></i></a></li>
				</ul>

			</div>
			<div class="card1">
				<div class="toggle"></div>
				<div class="contentBx1">
					<div class="imgBx3">
						<img src="assets/img/marcelle.jpg">
					</div>
					<div class="contentBx">
						<h3>Marcelle & Arthur<br /><span>Creative Designer</span></h3>
					</div>
				</div>

				<ul class="sci">
					<li style="--i:1"><a href="#"><i class="fa-brands fa-facebook-square"></i></a></li>
					<li style="--i:2"><a href="#"><i class="fa-brands fa-github-square"></i></a></li>
					<li style="--i:3"><a href="#"><i class="fa-brands fa-whatsapp-square"></i></a></li>
					<li style="--i:4"><a href="#"><i class="fa-brands fa-instagram-square"></i></a></li>
				</ul>

			</div>
			<div class="card1">
				<div class="toggle"></div>
				<div class="contentBx1">
					<div class="imgBx3">
						<img src="assets/img/spider.jpg">
					</div>
					<div class="contentBx">
						<h3>Spider<br /><span>Mascote Designer</span></h3>
					</div>
				</div>

				<ul class="sci">
					<li style="--i:1"><a href="#"><i class="fa-brands fa-facebook-square"></i></a></li>
					<li style="--i:2"><a href="#"><i class="fa-brands fa-github-square"></i></a></li>
					<li style="--i:3"><a href="#"><i class="fa-brands fa-whatsapp-square"></i></a></li>
					<li style="--i:4"><a href="#"><i class="fa-brands fa-instagram-square"></i></a></li>
				</ul>
			</div>
		</div>
	</section>
	<!-- end team section -->

	<!-- testimonail-section -->
	<div class="testimonail-section mt-80 mb-150">
		<div class="container">
			<div class="row">
				<div class="col-lg-10 offset-lg-1 text-center">
					<div class="testimonial-sliders">
						<div class="single-testimonial-slider">
							<div class="client-avater">
								<img src="assets/img/avaters/avatar1.png" alt="">
							</div>
							<div class="client-meta">
								<h3>Darlene Alderson <span>Web Designer</span></h3>
								<p class="testimonial-body">
									" Sed ut perspiciatis unde omnis iste natus error veritatis et quasi architecto
									beatae vitae dict eaque ipsa quae ab illo inventore Sed ut perspiciatis unde omnis
									iste natus error sit voluptatem accusantium "
								</p>
								<div class="last-icon">
									<i class="fas fa-quote-right"></i>
								</div>
							</div>
						</div>
						<div class="single-testimonial-slider">
							<div class="client-avater">
								<img src="assets/img/avaters/avatar2.png" alt="">
							</div>
							<div class="client-meta">
								<h3>Mr.Robot<span>Skatista Profissional</span></h3>
								<p class="testimonial-body">
									" Sed ut perspiciatis unde omnis iste natus error veritatis et quasi architecto
									beatae vitae dict eaque ipsa quae ab illo inventore Sed ut perspiciatis unde omnis
									iste natus error sit voluptatem accusantium "
								</p>
								<div class="last-icon">
									<i class="fas fa-quote-right"></i>
								</div>
							</div>
						</div>
						<div class="single-testimonial-slider">
							<div class="client-avater">
								<img src="assets/img/avaters/avatar3.png" alt="">
							</div>
							<div class="client-meta">
								<h3>Elliot Alderson<span>Programador</span></h3>
								<p class="testimonial-body">
									" Sed ut perspiciatis unde omnis iste natus error veritatis et quasi architecto
									beatae vitae dict eaque ipsa quae ab illo inventore Sed ut perspiciatis unde omnis
									iste natus error sit voluptatem accusantium "
								</p>
								<div class="last-icon">
									<i class="fas fa-quote-right"></i>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end testimonail-section -->

	<!---About-->
	<section class="about" id="about">
		<div class="title">
			<h2>Histórias Para Contar...</h2>
		</div>
		<div class="contentBx">
			<div class="content">
				<p>Tudo começou em agosto de 2021, quando os estudantes do Curso de T.I do SENAC,
					Cristian Mitidieri, Breno, William Rodrigues e Caio Gil, começaram a revista no Rio de Janeiro, RJ.
					Os três
					estudantes já eram figurões de uma indústria que dava seus primeiros grandes passos, com Swenson e
					Vitello sendo sócios na Indy Trucks e na Santa Cruz. A ideia por traz da Thrasher era simples: um
					espaço para anunciar os produtos das marcas e um forma de incentivar uma “cena”, que traria ainda
					mais possíveis consumidores para a marca. A marca ainda não tinha a atitude “punk” pela qual ficou
					conhecida.


					Eric Swenson, Kevin Thatcher e Fausto Vitello (dir. p/ esq.), fundadores da Revista Thrasher. Foto:
					Reprodução
					É impossível falar sobre a revista que conhecemos hoje sem falar de Jake Phelps. Em 1985 Jake Phelps
					entrou para a Thrasher, mudando para sempre o curso da revista. Phelps foi contratado como
					estoquista no galpão que produzia as camisetas e bonés das marcas, mas seu conhecimento sobre skate
					e relacionamento com Fausto Vitello acabaram lhe garantindo uma vaga na redação. Como editor, Phelps
					sempre foi muito polêmico, chegando a classificar a ascensão do street como “a morte do skate”.
					Fotos de feridas abertas, listas dos piores skatistas de todos os tempos (que acabou lhe rendendo um
					olho roxo) e provocações aos leitores, tudo estava lá. Sem limites, Jake Phelps deu à revista
					Thrasher o tom que ela mantém até hoje: alto, provocativo e irreverente. Mais de 20 anos depois,
					Phelps ainda mantém o cargo de editor da revista, apesar de atualmente ser mais uma figura
					decorativa. Os fundadores Fausto Vitello e Eric Swenson faleceram em 2006 e 2011, respectivamente.

					Figura. Essa é melhor forma de descrever Phelps. Com 54 anos e todo tatuado, com um estilo que que
					mistura um skatista com um professor de universidade, ele chama atenção por onde passa. Um
					verdadeiro skatista de essência, Jake já sofreu uma lista impressionante de acidentes, que nos faz
					questionar como ele ainda está vivo. Jake já foi esfaqueado, baleado, mordido por uma aranha
					venenosa, sofreu um acidente de carro tentando contrabandear skates vestido de padre, além de ter
					sido atropelado inúmeras vezes. Já quebrou as duas pernas, dois dedões, fraturou a cabeça. Passou
					por sete cirurgias no joelho. Nada, absolutamente nada disso foi capaz de pará-lo. Jake Phelps é o
					verdadeiro espírito “Skate and Destroy”.</p>
			</div>
			<div class="content">
				<div class="imgBx">
					<img src="./assets/img/about2.jpg" class="cover">
				</div>
			</div>
		</div>
	</section>
	<!--Latest blog post-->


	<!-- logo carousel -->
	<div class="logo-carousel-section">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="logo-carousel-inner">
						<div class="single-logo-item">
							<img src="assets/img/company DC.png" alt="">
						</div>
						<div class="single-logo-item">
							<img src="assets/img/company Thrasher.png" alt="">
						</div>
						<div class="single-logo-item">
							<img src="assets/img/company Baker.png" alt="">
						</div>
						<div class="single-logo-item">
							<img src="assets/img/company BonesBrigade.png" alt="">
						</div>
						<div class="single-logo-item">
							<img src="assets/img/company powellperalta.png" alt="">
						</div>
						<div class="single-logo-item">
							<img src="assets/img/company Venture.png" alt="">
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end logo carousel -->

	<!-- footer -->
	<div class="footer-area">
		<div class="container">
			<div class="row">
				<div class="col-lg-3 col-md-6">
					<div class="footer-box about-widget">
						<h2 class="widget-title">Sobre Nós</h2>
						<p>Skate Cracker's Club nasceu com o intuito de oferecer o melhor do skate para praticantes e
							simpatizantes do estilo de vida de muitos brasileiros. com uma grande variedade de produtos
							nacionais e importados, oferecemos produtos de primeira linha para garantia de evolução
							constante sobre o carrinho.</p>
					</div>
				</div>
				<div class="col-lg-3 col-md-6">
					<div class="footer-box get-in-touch">
						<h2 class="widget-title">Entre em Contato</h2>
						<ul>
							<li>Rua Pompeu Loureiro, 45 - Copacabana, Rio de Janeiro - RJ</li>
							<li>SkateCracker@gmail.com</li>
							<li>(21) 2252 2533/(21) 9952633-73</li>
						</ul>
					</div>
				</div>
				<div class="col-lg-3 col-md-6">
					<div class="footer-box pages">
						<h2 class="widget-title">Páginas</h2>
						<ul>
							<li><a href="index.html">Início</a></li>
							<li><a href="about.html">Sobre</a></li>
							<li><a href="services.html">Shop</a></li>
							<li><a href="news.html">Novidades</a></li>
							<li><a href="contact.html">Contato</a></li>
						</ul>
					</div>
				</div>
				<div class="col-lg-3 col-md-6">
					<div class="footer-box subscribe">
						<h2 class="widget-title">Inscreva-se</h2>
						<p>Inscreva-se em nossa lista de e-mails para receber as atualizações mais recentes.</p>
						<form action="index.html">
							<input type="email" placeholder="Email">
							<button type="submit"><i class="fas fa-paper-plane"></i></button>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end footer -->

	<!-- copyright -->
	<div class="copyright">
		<div class="container">
			<div class="row">
				<div class="col-lg-6 col-md-12">
					<p>Copyrights &copy; 2022 - <a href="https://www.senac.br/">Team Senac First Craker's</a> - Todos os
						direitos reservados.</p>
				</div>
				<div class="col-lg-6 text-right col-md-12">
					<div class="social-icons">
						<ul>
							<li><a href="#" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
							<li><a href="#" target="_blank"><i class="fab fa-twitter"></i></a></li>
							<li><a href="#" target="_blank"><i class="fab fa-instagram"></i></a></li>
							<li><a href="#" target="_blank"><i class="fab fa-linkedin"></i></a></li>
							<li><a href="#" target="_blank"><i class="fab fa-dribbble"></i></a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end copyright -->

	<script>
		const cartao = document.querySelector('.cartao');
		const toggle = document.querySelector('.toggle');
		toggle.onclick = function () {
			cartao.classList.toggle('dark')
		}

	</script>

	<!-- jquery -->
	<script src="assets/js/jquery-1.11.3.min.js"></script>
	<!-- bootstrap -->
	<script src="assets/bootstrap/js/bootstrap.min.js"></script>
	<!-- count down -->
	<script src="assets/js/jquery.countdown.js"></script>
	<!-- isotope -->
	<script src="assets/js/jquery.isotope-3.0.6.min.js"></script>
	<!-- waypoints -->
	<script src="assets/js/waypoints.js"></script>
	<!-- owl carousel -->
	<script src="assets/js/owl.carousel.min.js"></script>
	<!-- magnific popup -->
	<script src="assets/js/jquery.magnific-popup.min.js"></script>
	<!-- mean menu -->
	<script src="assets/js/jquery.meanmenu.min.js"></script>
	<!-- sticker js -->
	<script src="assets/js/sticker.js"></script>
	<!-- main js -->
	<script src="assets/js/main.js"></script>

	<script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
	<script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
</body>

</html>