<!DOCTYPE html>
<html lang="pt-br">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="Responsive Bootstrap4 Shop Template, Criado por Team Senac First Craker's">

	<!-- title -->
	<title>News</title>

	<!-- favicon -->
	<link rel="shortcut icon" type="image/png" href="assets/img/favicon.ico">
	<!-- google font -->
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Poppins:400,700&display=swap" rel="stylesheet">
	<!-- fontawesome -->
	<link rel="stylesheet" href="./assets/css/all.min.css">
	<!-- bootstrap -->
	<link rel="stylesheet" href="./assets/bootstrap/css/bootstrap.min.css">
	<!-- owl carousel -->
	<link rel="stylesheet" href="./assets/css/owl.carousel.css">
	<!-- magnific popup -->
	<link rel="stylesheet" href="./assets/css/magnific-popup.css">
	<!-- animate css -->
	<link rel="stylesheet" href="./assets/css/animate.css">
	<!-- mean menu css -->
	<link rel="stylesheet" href="./assets/css/meanmenu.min.css">
	<!-- main style -->
	<link rel="stylesheet" href="./assets/css/main.css">
	<!-- responsive -->
	<link rel="stylesheet" href="./assets/css/responsive.css">

</head>

<body>

	<!--PreLoader-->
	<div class="loader">
		<div class="loader-inner">
			<div class="circle"></div>
		</div>
	</div>
	<!--PreLoader Ends-->

	<!-- header -->
	<div class="top-header-area" id="sticker">
		<div class="container">
			<div class="row">
				<div class="col-lg-12 col-sm-12 text-center">
					<div class="main-menu-wrap">
						<!-- logo -->
						<div class="site-logo">
							<a href="index.html">
								<img src="assets/img/logo.png" alt="">
							</a>
						</div>
						<!-- logo -->

						<!-- menu start -->
						<nav class="main-menu">
							<ul>
								<li class="current-list-item"><a href="index.html">Início</a>
								</li>
								<li><a href="about.html">Sobre</a></li>
								<ul class="sub-menu">
									<li><a href="404.html">404 página</a></li>
									<li><a href="about.html">Sobre</a></li>
									<li><a href="cart.html">Carrinho</a></li>
									<li><a href="checkout.html">Confirmar</a></li>
									<li><a href="news.html">Novidades</a></li>
									<li><a href="shop.html">Loja</a></li>
									<li><a href="contact.html">Contato</a></li>
								</ul>
								</li>
								<li><a href="news.html">Novidades</a>
									<ul class="sub-menu">
										<li><a href="news.html">Novidades</a></li>
										<li><a href="single-news.html">Últimas Notícias</a></li>
									</ul>
								</li>
								<li><a href="contact.html">Contato</a></li>
								<li><a href="shop.html">Loja</a>
									<ul class="sub-menu">
										<li><a href="shop.html">Loja</a></li>
										<li><a href="checkout.html">Confirmar</a></li>
										<li><a href="single-product.html">Produto Especial</a></li>
										<li><a href="cart.html">Carrinho</a></li>
									</ul>
								</li>
								<li>
									<div class="header-icons">
										<a class="shopping-cart" href="cart.html"><i
												class="fas fa-shopping-cart"></i></a>
										<a class="mobile-hide search-bar-icon" href="#"><i
												class="fas fa-search"></i></a>
									</div>
								</li>
							</ul>
						</nav>
						<a class="mobile-show search-bar-icon" href="#"><i class="fas fa-search"></i></a>
						<div class="mobile-menu"></div>
						<!-- menu end -->
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end header -->

	<!-- search area -->
	<div class="search-area">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<span class="close-btn"><i class="fas fa-window-close"></i></span>
					<div class="search-bar">
						<div class="search-bar-tablecell">
							<h3>Pesquisar Por:</h3>
							<input type="text" placeholder="Keywords">
							<button type="submit">Pesquisar <i class="fas fa-search"></i></button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end search arewa -->

	<!-- breadcrumb-section -->
	<div class="breadcrumb-section breadcrumb-bg">
		<div class="container">
			<div class="row">
				<div class="col-lg-8 offset-lg-2 text-center">
					<div class="breadcrumb-text">
						<p>Informações sobre Skate Underground</p>
						<h1>Novidades e Notícias</h1>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end breadcrumb section -->

	<!-- latest news -->
	<div class="latest-news mt-150 mb-150">
		<div class="container">
			<div class="row">
				<div class="col-lg-4 col-md-6">
					<div class="single-latest-news">
						<a href="single-news.html">
							<div class="latest-news-bg news-bg-1"></div>
						</a>
						<div class="news-text-box">
							<h3><a href="single-news.html">Chorão Skate Park vira museu e se torna um patrimonio
									público.</a></h3>
							<p class="blog-meta">
								<span class="author"><i class="fas fa-user"></i> Admin</span>
								<span class="date"><i class="fas fa-calendar"></i> 16 Fevereiro, 2022</span>
							</p>
							<p class="excerpt"> A pista fica localizada em Santos, litoral do estado de São Paulo. O
								prenome "chorão" vem do pseudônimo do proprietário da pista, o ex-vocalista da banda
								Charlie Brown Jr., o Chorão...
							</p>
							<a href="single-news.html" class="read-more-btn">saiba mais <i
									class="fas fa-angle-right"></i></a>
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-md-6">
					<div class="single-latest-news">
						<a href="single-news.html">
							<div class="latest-news-bg news-bg-2"></div>
						</a>
						<div class="news-text-box">
							<h3><a href="single-news.html">Nosso atleta patrocinado Tyrell Wellik, vence mais um mundial
									de skate.</a></h3>
							<p class="blog-meta">
								<span class="author"><i class="fas fa-user"></i> Admin</span>
								<span class="date"><i class="fas fa-calendar"></i> 16 Fevereiro, 2022</span>
							</p>
							<p class="excerpt">Atual campeão do mundo, o skatista americano Tyrell Wellik (22),
								patrocinado pela renomada empresa Cracker's Club, conquistou nesse final de semana o
								seu quinto título mundial na categoria street...</p>
							<a href="single-news.html" class="read-more-btn">saiba mais <i
									class="fas fa-angle-right"></i></a>
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-md-6">
					<div class="single-latest-news">
						<a href="single-news.html">
							<div class="latest-news-bg news-bg-3"></div>
						</a>
						<div class="news-text-box">
							<h3><a href="single-news.html">Lançamento da coleção outono vai ser na filial Skate's
									Cracker Club/Niterói.</a></h3>
							<p class="blog-meta">
								<span class="author"><i class="fas fa-user"></i> Admin</span>
								<span class="date"><i class="fas fa-calendar"></i> 16 Fevereiro, 2022</span>
							</p>
							<p class="excerpt">As peças de vestuários outono 2022 serão bem trabalhadas através de
								tecidos mais leves e frescos. Sendo assim, pode apostar nas camisas feitas de algodão,
								que seram tendências para o outono...
							</p>
							<a href="single-news.html" class="read-more-btn">saiba mais <i
									class="fas fa-angle-right"></i></a>
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-md-6">
					<div class="single-latest-news">
						<a href="single-news.html">
							<div class="latest-news-bg news-bg-4"></div>
						</a>
						<div class="news-text-box">
							<h3><a href="single-news.html">Atleta mais novo da história entra para o team Crackers Club
								</a></h3>
							<p class="blog-meta">
								<span class="author"><i class="fas fa-user"></i> Admin</span>
								<span class="date"><i class="fas fa-calendar"></i> 17 Fevereiro, 2022</span>
							</p>
							<p class="excerpt">Thomas A. Anderson (Neo), conquistou, na madrugada
								desta segunda-feira a medalha de prata na categoria street do skate. Assim, aos 13 anos,
								se tornou a mais novo atleta da equipe...</p>
							<a href="single-news.html" class="read-more-btn">saiba mais <i
									class="fas fa-angle-right"></i></a>
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-md-6">
					<div class="single-latest-news">
						<a href="single-news.html">
							<div class="latest-news-bg news-bg-5"></div>
						</a>
						<div class="news-text-box">
							<h3><a href="single-news.html">Sócio do team Cracker's Slkate Club inventa uma nova manobra
									radical. </a></h3>
							<p class="blog-meta">
								<span class="author"><i class="fas fa-user"></i> Admin</span>
								<span class="date"><i class="fas fa-calendar"></i> 18 Abril, 2022</span>
							</p>
							<p class="excerpt">Cristian Mitidieri Carvalhal realizou uma série de manobras históricas.
								Ele
								realizou o primeiro giro de 900 graus completo nos X Games de 2021 após 11 tentativas
								mal sucedidas...</p>
							<a href="single-news.html" class="read-more-btn">saiba mais <i
									class="fas fa-angle-right"></i></a>
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-md-6">
					<div class="single-latest-news">
						<a href="single-news.html">
							<div class="latest-news-bg news-bg-6"></div>
						</a>
						<div class="news-text-box">
							<h3><a href="single-news.html">Kickflip a manobra mais usada pelos skatistas, saiba como
									executá-la.</a></h3>
							<p class="blog-meta">
								<span class="author"><i class="fas fa-user"></i> Admin</span>
								<span class="date"><i class="fas fa-calendar"></i> 20 Março, 2022</span>
							</p>
							<p class="excerpt">O kickflip é uma manobra em que o skatista chuta o skate no concave do
								nose com o pé da frente fazendo dar um volta completa, existem variações como Double
								Kickflip e Triple Kickflip...</p>
							<a href="single-news.html" class="read-more-btn">saiba mais <i
									class="fas fa-angle-right"></i></a>
						</div>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="container">
					<div class="row">
						<div class="col-lg-12 text-center">
							<div class="pagination-wrap">
								<ul>
									<li><a href="#">Prev</a></li>
									<li><a href="#">1</a></li>
									<li><a class="active" href="#">2</a></li>
									<li><a href="#">3</a></li>
									<li><a href="#">Next</a></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end latest news -->
	<!-- Banner Section Begin -->
	<section class="banner spad">
		<div class="container">
			<div class="row">
				<div class="col-lg-7 offset-lg-4">
					<h2 class="anonny primary-color">Anonymous<span> Cracker's Club... </span></h2>
					<div class="banner__item">
						<div class="banner__item__pic">
							<img src="assets/img/banner1.jpg" alt="">
						</div>
						<div class="banner__item__text">
							<h2>Coleções de Roupas 2022</h2>
							<a href="#">Compre agora</a>
						</div>
					</div>
				</div>
				<div class="col-lg-5">
					<div class="banner__item banner__item--middle">
						<div class="banner__item__pic">
							<img src="assets/img/banner2.jpg" alt="">
						</div>
						<div class="banner__item__text">
							<h2>Acessórios</h2>
							<a href="#">Compre agora</a>
						</div>
					</div>
				</div>
				<div class="col-lg-7">
					<div class="banner__item banner__item--last">
						<div class="banner__item__pic">
							<img src="assets/img/banner3.jpg" alt="">
						</div>
						<div class="banner__item__text">
							<h2>Novidades Outono 2022</h2>
							<a href="#">Compre agora</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- Banner Section End -->

	<!-- logo carousel -->
	<div class="logo-carousel-section">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="logo-carousel-inner">
						<div class="single-logo-item">
							<img src="assets/img/company DC.png" alt="">
						</div>
						<div class="single-logo-item">
							<img src="assets/img/company Thrasher.png" alt="">
						</div>
						<div class="single-logo-item">
							<img src="assets/img/company Baker.png" alt="">
						</div>
						<div class="single-logo-item">
							<img src="assets/img/company BonesBrigade.png" alt="">
						</div>
						<div class="single-logo-item">
							<img src="assets/img/company powellperalta.png" alt="">
						</div>
						<div class="single-logo-item">
							<img src="assets/img/company Venture.png" alt="">
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end logo carousel -->

	<!-- footer -->
	<div class="footer-area">
		<div class="container">
			<div class="row">
				<div class="col-lg-3 col-md-6">
					<div class="footer-box about-widget">
						<h2 class="widget-title">Sobre nós</h2>
						<p>Skate Cracker's Club nasceu com o intuito de oferecer o melhor do skate para praticantes e
							simpatizantes do estilo de vida de muitos brasileiros. com uma grande variedade de produtos
							nacionais e importados, oferecemos produtos de primeira linha para garantia de evolução
							constante sobre o carrinho.</p>
					</div>
				</div>
				<div class="col-lg-3 col-md-6">
					<div class="footer-box get-in-touch">
						<h2 class="widget-title">Get in Touch</h2>
						<ul>
							<li>Rua Pompeu Loureiro, 45 - Copacabana, Rio de Janeiro - RJ</li>
							<li>SkateCracker@gmail.com</li>
							<li>(21) 2252 2533/(21) 9952633-73</li>
						</ul>
					</div>
				</div>
				<div class="col-lg-3 col-md-6">
					<div class="footer-box pages">
						<h2 class="widget-title">Páginas</h2>
						<ul>
							<li><a href="index.html">Início</a></li>
							<li><a href="about.html">Sobre</a></li>
							<li><a href="services.html">Shop</a></li>
							<li><a href="news.html">Novidades</a></li>
							<li><a href="contact.html">Contato</a></li>
						</ul>
					</div>
				</div>
				<div class="col-lg-3 col-md-6">
					<div class="footer-box subscribe">
						<h2 class="widget-title">Inscreva-se</h2>
						<p>Inscreva-se em nossa lista de e-mails para receber as atualizações mais recentes.</p>
						<form action="index.html">
							<input type="email" placeholder="Email">
							<button type="submit"><i class="fas fa-paper-plane"></i></button>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end footer -->

	<!-- copyright -->
	<div class="copyright">
		<div class="container">
			<div class="row">
				<div class="col-lg-6 col-md-12">
					<p>Copyrights &copy; 2022 - <a href="https://www.senac.br/">Team Senac First Craker's</a> -
						Todos os
						direitos reservados.</p>
				</div>
				<div class="col-lg-6 text-right col-md-12">
					<div class="social-icons">
						<ul>
							<li><a href="#" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
							<li><a href="#" target="_blank"><i class="fab fa-twitter"></i></a></li>
							<li><a href="#" target="_blank"><i class="fab fa-instagram"></i></a></li>
							<li><a href="#" target="_blank"><i class="fab fa-linkedin"></i></a></li>
							<li><a href="#" target="_blank"><i class="fab fa-dribbble"></i></a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end copyright -->

	<!-- jquery -->
	<script src="assets/js/jquery-1.11.3.min.js"></script>
	<!-- bootstrap -->
	<script src="assets/bootstrap/js/bootstrap.min.js"></script>
	<!-- count down -->
	<script src="assets/js/jquery.countdown.js"></script>
	<!-- isotope -->
	<script src="assets/js/jquery.isotope-3.0.6.min.js"></script>
	<!-- waypoints -->
	<script src="assets/js/waypoints.js"></script>
	<!-- owl carousel -->
	<script src="assets/js/owl.carousel.min.js"></script>
	<!-- magnific popup -->
	<script src="assets/js/jquery.magnific-popup.min.js"></script>
	<!-- mean menu -->
	<script src="assets/js/jquery.meanmenu.min.js"></script>
	<!-- sticker js -->
	<script src="assets/js/sticker.js"></script>
	<!-- main js -->
	<script src="assets/js/main.js"></script>

</body>

</html>