<!DOCTYPE html>
<html lang="pt-br">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="Responsive Bootstrap4 Shop Template, Criado por Team Senac First Craker's">

	<!-- title -->
	<title>Termo de Uso e Segurança</title>

	<!-- favicon -->
	<link rel="shortcut icon" type="image/png" href="assets/img/favicon.ico">
	<!-- google font -->
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Poppins:400,700&display=swap" rel="stylesheet">    
	<!-- fontawesome -->
	<link rel="stylesheet" href="./assets/css/all.min.css">
	<!-- bootstrap -->
	<link rel="stylesheet" href="./assets/bootstrap/css/bootstrap.min.css">
	<!-- owl carousel -->
	<link rel="stylesheet" href="./assets/css/owl.carousel.css">
	<!-- magnific popup -->
	<link rel="stylesheet" href="./assets/css/magnific-popup.css">
	<!-- animate css -->
	<link rel="stylesheet" href="./assets/css/animate.css">
	<!-- mean menu css -->
	<link rel="stylesheet" href="./assets/css/meanmenu.min.css">
	<!-- main style -->
	<link rel="stylesheet" href="./assets/css/main.css">
	<!-- responsive -->
	<link rel="stylesheet" href="./assets/css/responsive.css">

</head>

<body>

	<!--PreLoader-->
	<div class="loader">
		<div class="loader-inner">
			<div class="circle"></div>
		</div>
	</div>
	<!--PreLoader Ends-->

	<!-- header -->
	<div class="top-header-area" id="sticker">
		<div class="container">
			<div class="row">
				<div class="col-lg-12 col-sm-12 text-center">
					<div class="main-menu-wrap">
						<!-- logo -->
						<div class="site-logo">
							<a href="index.html">
								<img src="assets/img/logo.png" alt="">
							</a>
						</div>
						<!-- logo -->

						<!-- menu start -->
						<nav class="main-menu">
							<ul>
								<li class="current-list-item"><a href="index.html">Início</a>
								</li>
								<li><a href="about.html">Sobre</a></li>
								<li><a href="#">Páginas</a>
									<ul class="sub-menu">										
										<li><a href="about.html">Sobre</a></li>
										<li><a href="cart.html">Carrinho</a></li>
										<li><a href="checkout.html">Confira</a></li>
										<li><a href="news.html">Novidades</a></li>
										<li><a href="shop.html">Loja</a></li>
										<li><a href="contact.html">Contato</a></li>                                      
									</ul>
								</li>
								<li><a href="news.html">Novidades</a>
									<ul class="sub-menu">
										<li><a href="news.html">Novidades</a></li>
										<li><a href="single-news.html">Últimas Novidades</a></li>
									</ul>
								</li>
								<li><a href="contact.html">Contato</a></li>
								<li><a href="shop.html">Loja</a>
									<ul class="sub-menu">
										<li><a href="shop.html">Loja</a></li>
										<li><a href="checkout.html">Confirmar</a></li>
										<li><a href="single-product.html">Produtos Especiais</a></li>
										<li><a href="cart.html">Carrinho</a></li>
									</ul>
								</li>
								<li>
									<div class="header-icons">
										<a class="shopping-cart" href="cart.html"><i
												class="fas fa-shopping-cart"></i></a>
										<a class="mobile-hide search-bar-icon" href="#"><i
												class="fas fa-search"></i></a>
									</div>
								</li>
							</ul>
						</nav>
						<a class="mobile-show search-bar-icon" href="#"><i class="fas fa-search"></i></a>
						<div class="mobile-menu"></div>
						<!-- menu end -->
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end header -->
    <!-- search area -->
	<div class="search-area">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<span class="close-btn"><i class="fas fa-window-close"></i></span>
					<div class="search-bar">
						<div class="search-bar-tablecell">
							<h3>Pesquisar Por:</h3>
							<input type="text" placeholder="Keywords">
							<button type="submit">Pesquisar<i class="fas fa-search"></i></button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end search area -->
	<!-- breadcrumb-section -->
    <div class="breadcrumb-section breadcrumb-bg">
		<div class="container">
			<div class="row">
				<div class="col-lg-8 offset-lg-2 text-center">
					<div class="breadcrumb-text">
						<p>Sustentável e Orgânico</p>
						<h1>Termos de Uso e Segurança.</h1>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end breadcrumb section -->
	<!-- error section -->
	<div class="full-height-section error-section">
		<div class="full-height-tablecell">
			<div class="container">
				<div class="row">
					<div class="col-lg-8 offset-lg-2 text-center">
						<div class="error-text2">
							<i class="fa-thin fa-face-grin-wink"></i>
							<h1>Seja bem-vindo ao nosso site.<br> Leia com atenção todos os termos abaixo.</h1>
							<p>Este documento, e todo o conteúdo do site é oferecido por Skate’s Cracker Club LTDA, neste termo representado apenas por “Skate’s Cracker Club”, que regulamenta todos os direitos e obrigações com todos que acessam o site, denominado neste termo como “VISITANTE”, reguardado todos os direitos previstos na legislação, trazem as cláusulas abaixo como requisito para acesso e visita do mesmo, situado no endereço WWW.skateCrackerClub.com.br.
                              <br>  A permanência no website implica-se automaticamente na leitura e aceitação tácita do presente termos de uso a seguir. Este termo foi atualizado pela última vez em 24 de fevereiro de 2022. <br>
                              <br>  1. DA FUNÇÃO DO SITE:<br>
                                <br>Este site foi criado e desenvolvido com a função de trazer conteúdo informativo de alta qualidade, a venda de produtos físicos, digitais e a divulgação de prestação de serviço. <br>A EMPRESA busca através da criação de conteúdo de alta qualidade, desenvolvido por profissionais da área, trazer o conhecimento ao alcance de todos, assim como a divulgação dos próprios serviços.<br>
                                Nesta plataforma, poderá ser realizado tanto a divulgação de material original de alta qualidade, assim como a divulgação de produtos de e-commerce.
                                Todo o conteúdo presente neste site foi desenvolvido buscando fontes e materiais de confiabilidade, assim como são baseados em estudos sérios e respeitados, através de pesquisa de alta nível.<br>
                                Todo o conteúdo é atualizado periodicamente, porém, pode conter em algum artigo, vídeo ou imagem, alguma informação que não reflita a verdade atual, não podendo a EMPRESA ser responsabilizada de nenhuma forma ou meio por qualquer conteúdo que não esteja devidamente atualizado.<br>
                                É de responsabilidade do usuário de usar todas as informações presentes no site com senso crítico, utilizando apenas como fonte de informação, e sempre buscando especialistas da área para a solução concreta do seu conflito.<br>
                               <br> 2. DO ACEITE DOS TERMOS:<br>
                               <br> Este termo especifica e exige que todo usuário ao acessar o site da EMPRESA, leia e compreenda todas as cláusulas do mesmo, visto que ele estabelece entre a EMPRESA e o VISITANTE direitos e obrigações entre ambas as partes, aceitos expressamente pelo VISITANTE a permanecer navegando no site da EMPRESA.<br>
                                Ao continuar acessando o site, o VISITANTE expressa que aceita e entende todas as cláusulas, assim como concorda integralmente com cada uma delas, sendo este aceite imprescindível para a permanência na mesma. Caso o VISITANTE discorde de alguma cláusula ou termo deste contrato, o mesmo deve imediatamente interromper sua navegação de todas as formas e meios.<br>
                                Este termo pode e irá ser atualizado periodicamente pela EMPRESA, que se resguarda no direito de alteração, sem qualquer tipo de aviso prévio e comunicação. É importante que o VISITANTE confira sempre se houve movimentação e qual foi a última atualização do mesmo no começo da página.<br>
                               <br> 3. DO GLOSSÁRIO:<br>
                                <br>Este termo pode conter algumas palavras específicas que podem não se de conhecimento geral. Entre elas:<br>
                               •	VISITANTE: Todo e qualquer usuário do site, de qualquer forma e meio, que acesse através de computador, notebook, tablet, celular ou quaisquer outros meios, o website ou plataforma da empresa.<br>
                                •	NAVEGAÇÃO: O ato de visitar páginas e conteúdo do website ou plataforma da empresa.<br>
                                •	COOKIES: Pequenos arquivos de textos gerados automaticamente pelo site e transmitido para o navegador do visitante, que servem para melhorar a usabilidade do visitante.<br>
                                •	LOGIN: Dados de acesso do visitante ao realizar o cadastro junto a EMPRESA, dividido entre usuário e senha, que dá acesso a funções restritas do site.<br>
                                •	HIPERLINKS: São links clicáveis que podem aparecer pelo site ou no conteúdo, que levam para outra página da EMPRESA ou site externo.<br>
                                •	OFFLINE: Quando o site ou plataforma se encontra indisponível, não podendo ser acessado externamente por nenhum usuário.<br>
                               <br>  Em caso de dúvidas sobre qualquer palavra utilizada neste termo, o VISITANTE deverá entrar em contato com a EMPRESA através dos canais de comunicação encontradas no site.<br>
                               <br>4. DO ACESSO AO SITE:<br>
                               <br> O Site e plataforma funcionam normalmente 24 (vinte e quatro) horas por dia, porém podem ocorrer pequenas interrupções de forma temporária para ajustes, manutenção, mudança de servidores, falhas técnicas ou por ordem de força maior, que podem deixar o site indisponível por tempo limitado.<br>
                                 A EMPRESA não se responsabiliza por nenhuma perda de oportunidade ou prejuízos que esta indisponibilidade temporária possa gerar aos usuários.<br>
                                Em caso de manutenção que exigirem um tempo maior, a EMPRESA irá informar previamente aos clientes da necessidade e do tempo previsto em que o site ou plataforma ficará offline.<br>
                                O acesso ao site só é permitido a maiores de 18 anos de idade ou que possuírem capacidade civil plena. Para acesso de menores de idade, é necessária a expressa autorização dos pais ou tutores, ficando o mesmo responsáveis sobre qualquer compra ou acesso efetuados pelo mesmo.<br>
                                Caso seja necessário realizar um cadastro junto a plataforma, onde o VISITANTE deverá preencher um formulário com seus dados e informações, para ter acesso a alguma parte restrita, ou realizar alguma compra.<br>
                                Todos os dados estão protegidos conforme a Lei Geral de Proteção de Dados, e ao realizar o cadastro junto ao site, o VISITANTE concorda integralmente com a coleta de dados conforme a Lei e com a Política de Privacidade da EMPRESA.<br>
                                <br> 5. DA LICENÇA DE USO E CÓPIA:<br>
                                <br>O visitante poderá acessar todo o conteúdo do website, como artigos, vídeos, imagens, produtos e serviços, não significando nenhum tipo de cessão de direito ou permissão de uso, ou de cópia dos mesmo.<br>
                                Todos os direitos são preservados, conforme a legislação brasileira, principalmente na Lei de Direitos Autorais (regulamentada na Lei nº 9.610/18), assim como no Código Civil brasileiro (regulamentada na Lei nº 10.406/02), ou quaisquer outras legislações aplicáveis.<br>
                                Todo o conteúdo do site é protegido por direitos autorais, e seu uso, cópia, transmissão, venda, cessão ou revenda, deve seguir a lei brasileira, tendo a EMPRESA todos os seus direitos reservados, e não permitindo a cópia ou utilização de nenhuma forma e meio, sem autorização expressa e por escrita da mesma.<br>
                                A EMPRESA poderá em casos concretos permitir pontualmente exceções a este direito, que serão claramente destacados no mesmo, com a forma e permissão de uso do conteúdo protegido. Este direito é revogável e limitado as especificações de cada caso.<br>
                                <br>  6. DAS OBRIGAÇÕES:<br>
                                <br> O VISITANTE ao utilizar o website da EMPRESA, concorda integralmente em:
                                •	De nenhuma forma ou meio realizar qualquer tipo de ação que tente invadir, hacker, destruir ou prejudicar a estrutura do site, plataforma da EMPRESA ou de seus parceiros comerciais. Incluindo-se, mas não se limitando, ao envio de vírus de computador, de ataques de DDOS, de acesso indevido por falhas da mesma ou quaisquer outras forma e meio.<br>
                                •	De não realizar divulgação indevida nos comentários do site de conteúdo de SPAM, empresas concorrentes, vírus, conteúdo que não possua direitos autorais ou quaisquer outros que não seja pertinente a discussão daquele texto, vídeo ou imagem.<br>
                                •	Da proibição em reproduzir qualquer conteúdo do site ou plataforma sem autorização expressa, podendo responder civil e criminalmente pelo mesmo.<br>
                                •	Com a Política de Privacidade do site, assim como tratamos os dados referentes ao cadastro e visita no site, podendo a qualquer momento e forma, requerer a exclusão dos mesmos, através do formulário de contato.<br>
                                <br> 7. DA MONETIZAÇÃO E PUBLICIDADE:<br>
                                <br>  A EMPRESA pode alugar ou vender espaços publicitários na plataforma, ou no site, diretamente aos anunciantes, ou através de empresas especializadas com o Adsense (Google), Taboola ou outras plataformas especializadas.<br>
                                Essas publicidades não significam nenhuma forma de endosso ou responsabilidade pelos mesmos, ficando o VISITANTE responsável pelas compras, visitas, acessos ou quaisquer ações referentes as estas empresas.<br>
                                Todas as propagandas no site ou plataforma serão claramente destacadas como publicidade, como forma de disclaimer da EMPRESA e de conhecimento do VISITANTE.<br>
                                Em casos de compra de produtos ou serviços, será possível a devolução em até 07 (sete) dias, conforme o Código de Defesa do Consumidor.<br>
                                Estes anúncios podem ser selecionados pela empresa de publicidade automaticamente, conforme as visitas recentes do VISITANTE, assim como baseado no seu histórico de busca, conforme as políticas de acesso da plataforma.<br>
                                <br>8. DOS TERMOS GERAIS:<br>
                                <br>  O Site irá apresentar hiperlinks durante toda a sua navegação, que podem levar diretamente para outra página da EMPRESA ou para sites externos.
                                Este documento, chamado “Termos de Uso”, aplicáveis a todos os visitantes do site, foi desenvolvido pelo Advogado Diego Castro (OAB/PI 15.613) em parceria com o Eletro Críticas, modificado com permissão para este site.<br>
                                Apesar da EMPRESA apenas criar links para sites externos de extrema confiança, caso o usuário acesse um site externo, a EMPRESA não tem nenhuma responsabilidade pelo meio, sendo uma mera indicação de complementação de conteúdo, ficando o mesmo responsável pelo acesso, assim como sobre quaisquer ações que venham a realizar neste site.<br>
                                Em caso que ocorra eventuais conflitos judiciais entre o VISITANTE e a EMPRESA, o foro elegido para a devida ação será o da comarca da Empresa, mesmo que haja outro mais privilegiado.<br>
                                <br>  Este Termo de uso é valido a partir de 24 de fevereiro de 2022.<br>
                                </p>
							<a href="index.html" class="boxed-btn">Voltar para o início</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end error section -->
	<!-- logo carousel -->
	<div class="logo-carousel-section">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="logo-carousel-inner">
						<div class="single-logo-item">
							<img src="assets/img/company DC.png" alt="">
						</div>
						<div class="single-logo-item">
							<img src="assets/img/company Thrasher.png" alt="">
						</div>
						<div class="single-logo-item">
							<img src="assets/img/company Baker.png" alt="">
						</div>
						<div class="single-logo-item">
							<img src="assets/img/company BonesBrigade.png" alt="">
						</div>
						<div class="single-logo-item">
							<img src="assets/img/company powellperalta.png" alt="">
						</div>
						<div class="single-logo-item">
							<img src="assets/img/company Venture.png" alt="">
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- end logo carousel -->

		<!-- footer -->
		<div class="footer-area">
			<div class="container">
				<div class="row">
					<div class="col-lg-3 col-md-6">
						<div class="footer-box about-widget">
							<h2 class="widget-title">Sobre nós</h2>
							<p>Skate Cracker's Club nasceu com o intuito de oferecer o melhor do skate para praticantes
								e
								simpatizantes do estilo de vida de muitos brasileiros. com uma grande variedade de
								produtos
								nacionais e importados, oferecemos produtos de primeira linha para garantia de evolução
								constante sobre o carrinho.</p>
                                <div class="social-container">
                                    <div>
                                        <a href="termo de segurança.html" class="social-link">Termo de Uso e Serviços</a><br>
                                        <a href="./Política de Privacidade .docx" class="social-link">Política de Privacidade</a>
                                    </div>
                                </div>
						</div>
					</div>
					<div class="col-lg-3 col-md-6">
						<div class="footer-box get-in-touch">
							<h2 class="widget-title">Entre em Contato</h2>
							<ul>
								<li>Rua Pompeu Loureiro, 45 - Copacabana, Rio de Janeiro - RJ</li>
								<li>SkateCracker@gmail.com</li>
								<li>(21) 2252 2533/(21) 9952633-73</li>
							</ul>
						</div>
					</div>
					<div class="col-lg-3 col-md-6">
						<div class="footer-box pages">
							<h2 class="widget-title">Páginas</h2>
							<ul>
								<li><a href="index.html">Início</a></li>
								<li><a href="about.html">Sobre</a></li>
								<li><a href="services.html">Shop</a></li>
								<li><a href="news.html">Novidades</a></li>
								<li><a href="contact.html">Contato</a></li>
							</ul>
						</div>
					</div>
					<div class="col-lg-3 col-md-6">
						<div class="footer-box subscribe">
							<h2 class="widget-title">Inscreva-se</h2>
							<p>Inscreva-se em nossa lista de e-mails para receber as atualizações mais recentes.</p>
							<input type="email" placeholder="Email">
							<button type="submit"><i class="fas fa-paper-plane"></i></button>
							</form>
                            <div class="imgBx8">
                                <a href="checkout.html"><img src="./assets/img/visa2.png" ></a>
                                <a href="checkout.html"><img src="./assets/img/mastercard.png" ></a>
                                <a href="checkout.html"><img src="./assets/img/america express.png" ></a>
                                <a href="checkout.html"><img src="./assets/img/paypal.png" ></a>
                                <a href="checkout.html"><img src="./assets/img/codigo-de-barras.png" ></a>
                            </div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- end footer -->

		<!-- copyright -->
		<div class="copyright">
			<div class="container">
				<div class="row">
					<div class="col-lg-6 col-md-12">
						<p>Copyrights &copy; 2022 - <a href="https://www.senac.br/">Team Senac First Craker's</a> -
							Todos os
							direitos reservados.</p>
					</div>
					<div class="col-lg-6 text-right col-md-12">
						<div class="social-icons">
							<ul>
								<li><a href="#" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
								<li><a href="#" target="_blank"><i class="fab fa-twitter"></i></a></li>
								<li><a href="#" target="_blank"><i class="fab fa-instagram"></i></a></li>
								<li><a href="#" target="_blank"><i class="fab fa-linkedin"></i></a></li>
								<li><a href="#" target="_blank"><i class="fab fa-dribbble"></i></a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- end copyright -->
        

		<!-- jquery -->
		<script src="assets/js/jquery-1.11.3.min.js"></script>
		<!-- bootstrap -->
		<script src="assets/bootstrap/js/bootstrap.min.js"></script>
		<!-- count down -->
		<script src="assets/js/jquery.countdown.js"></script>
		<!-- isotope -->
		<script src="assets/js/jquery.isotope-3.0.6.min.js"></script>
		<!-- waypoints -->
		<script src="assets/js/waypoints.js"></script>
		<!-- owl carousel -->
		<script src="assets/js/owl.carousel.min.js"></script>
		<!-- magnific popup -->
		<script src="assets/js/jquery.magnific-popup.min.js"></script>
		<!-- mean menu -->
		<script src="assets/js/jquery.meanmenu.min.js"></script>
		<!-- sticker js -->
		<script src="assets/js/sticker.js"></script>
		<!-- main js -->
		<script src="assets/js/main.js"></script>
        <script src="https://kit.fontawesome.com/871e19517e.js" crossorigin="anonymous"></script>

</body>

</html>