<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="Responsive Bootstrap4 Shop Template, Criado por Team Senac First Craker's">    
        <title>Skate's Cracker Club</title>
        <!-- favicon -->
        <link rel="shortcut icon" type="image/png" href="assets/img/favicon.ico">
        <!---Font Awsome-->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
            integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg=="
            crossorigin="anonymous" referrerpolicy="no-referrer" />
        <!-- google font -->
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Poppins:400,700&display=swap" rel="stylesheet">
        <!-- fontawesome -->
        <link rel="stylesheet" href="./assets/css/all.min.css">
        <!-- bootstrap -->
        <link rel="stylesheet" href="./assets/bootstrap/css/bootstrap.min.css">
        <!-- owl carousel -->
        <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css"/>
  
        <link rel="stylesheet" href="./assets/css/owl.carousel.css">
        <link rel="stylesheet" href="./assets/css/owl.theme.green.min.css">
        <!-- magnific popup -->
        <link rel="stylesheet" href="./assets/css/magnific-popup.css">
        <!-- animate css -->
        <link rel="stylesheet" href="./assets/css/animate.css">
        <!-- mean menu css -->
        <link rel="stylesheet" href="./assets/css/meanmenu.min.css">
        <!--Lightbox-->
        <link rel="stylesheet" href="./assets/css/lightbox.min.css">
        <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
        <!-- main style -->
        <link rel="stylesheet" href="./assets/css/teste.css">
        <!-- responsive -->
        <link rel="stylesheet" href="./assets/css/responsive.css">
    
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>  
<body>
    <section id="band">
     <div class="container-fluid">
         <div class="container">
            <div class="row">
                <div class="col-lg-8 offset-lg-2 text-center">
                    <div class="section-title">
                        <h3><span class="orange-text">Bandas Crac</span>ker's Produtos</h3>
                        <p>Compre peças e acessórios com segurança e garantia.</p>
                    </div>
                </div>
            </div>
             <div class="row">
                 <div class="col-sm-4">
                     <div class="box5">
                         <div class="imgBox8">
                             <img src="./assets/img/iron2.png" class="img-responsive">
                         </div>
                         <div class="content0">
                             <h3>Shape Iron Maiden</h3>
                             <div class="rating">
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                            </div>
                             <p>Killer Street</p>
                             <a href="cart.html" class="btn btn-default btnD">saiba mais</a>
                             
                         </div>
                     </div>                     
                 </div>
                 <div class="col-sm-4">
                    <div class="box5">
                        <div class="imgBox8">
                            <img src="./assets/img/iron1.png" class="img-responsive">
                        </div>
                        <div class="content0">
                            <h3>Shape Iron Maiden</h3>
                            <div class="rating">
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                            </div>
                            <p>Number of Street</p>
                            <a href="cart.html" class="btn btn-default btnD">saiba mais</a>
                        </div>
                    </div>                     
                </div>
                <div class="col-sm-4">
                    <div class="box5">
                        <div class="imgBox8">
                            <img src="./assets/img/iron4.png" class="img-responsive">
                        </div>
                        <div class="content0">
                            <h3>Shape Iron Maiden</h3>
                            <div class="rating">
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                            </div>
                            <p>Live After Street</p>
                            <a href="cart.html" class="btn btn-default btnD">saiba mais</a>
                        </div>
                    </div>                     
                </div>
                <div class="col-sm-4">
                    <div class="box5">
                        <div class="imgBox8">
                            <img src="./assets/img/offspring1.png" class="img-responsive">
                        </div>
                        <div class="content0">
                            <h3>Shape OffSpring</h3>
                            <div class="rating">
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                            </div>
                            <p>Off Street</p>
                            <a href="cart.html" class="btn btn-default btnD">saiba mais</a>
                        </div>
                    </div>                     
                </div>
                <div class="col-sm-4">
                    <div class="box5">
                        <div class="imgBox8">
                            <img src="./assets/img/motorhead.png" class="img-responsive">
                        </div>
                        <div class="content0">
                            <h3>Shape MotorHead</h3>
                            <div class="rating">
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                            </div>
                            <p>Ace Spade Street</p>
                            <a href="cart.html" class="btn btn-default btnD">saiba mais</a>
                        </div>
                    </div>                     
                </div>
                <div class="col-sm-4">
                    <div class="box5">
                        <div class="imgBox8">
                            <img src="./assets/img/milencollin1.png" class="img-responsive">
                        </div>
                        <div class="content0">
                            <h3>Shape Millencolin</h3>
                            <div class="rating">
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                            </div>
                            <p>Plate Street</p>
                            <a href="cart.html" class="btn btn-default btnD">saiba mais</a>
                        </div>
                    </div>                     
                </div>
             </div>
         </div>
     </div>
    </section>
    
</body>
</html>